* {
  margin: 0;
  padding: 0;

}



/* animation */
@keyframes slider {
  0% {
    transform: translateX(0);
  }

  26% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
  }
  93% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-300%);
  }
}

/* body */
body {
  background-color: 	#FFFEFE;
}

#navbar {
  /* max-width: 1200px; */
  background-color: #000;

}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
  padding: 10px;
}
.navbar-list-list {
  margin-left: 50px;
  font-family: "iFont-sf-dregular", sans-serif;
  font-style: normal;
  font-size: 16px;
}
.navbar-list-list a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  }
.navbar-list-list a:hover {
  color: #fff;
  opacity: 1;
}
.fa-solid {
  color: #fff;
  opacity: 0.7;
}
.fa-solid:hover {
  color: #fff;
  opacity: 1;
}
.dropdown {
display: flex;
padding: 5px;
background-color: #000;
border-radius: 30px;
align-items: center;

}
.dropdown:hover input {
display: inline-block;
width: 250px;
}
.dropdown input {
display: none;
width: 0;
outline: 0;
border: none;
transition: 3s;
background: transparent;
background-color: #fff;
border-radius: 30px;
padding: 5px;
}
.dropdown a .fa-solid {
color: white;
opacity: 0.7;

}

/* Header */
.header {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;


}
.header-header {
  color: #000;
  opacity: 0.7;
  font-family: 'iFont-sf-dregular', sans-serif;


}
.header-text {
  color: #000;
  opacity: 0.7;
  font-family: 'iFont-sf-rregular';
}
/* Background */
#background {
  margin-bottom: 30px;
}
.slider {
position: relative;
max-width: 60rem;
margin: 0 auto;


}
.slide {
  display: flex;
  aspect-ratio: 16 /9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow:  5px 10px 10px black;
  border-radius: 0.5rem;
}
.slide img {
flex: 1 0 100%;
scroll-snap-align: start;
object-fit: cover;

}
.slider-nav {
display: flex;
column-gap: 1rem;
position: absolute;
bottom: 1.25rem;
left: 50%;
transform: translateX(-50%);
z-index: 1;

}
.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
opacity: 0.75;
transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}


/* Courses */
#courses {
  display: flex;
  max-width: 1300px;
  height: auto;
  margin-bottom: 20px;

}
.courses-container {
  display: flex;
  max-width: 1300px;
  flex-wrap: wrap;

}
.course {
  width: 300px;
  height: 250px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  flex-basis: calc(25% - 40px);
}

.course-img {
  width: 300px;
  height: 250px;
  border-radius: 30px;
  object-fit: cover;
}

.course-img:hover {
  box-shadow: 5px 10px 10px black;
}
.course-header {
  color: #000;
  opacity: 0.8;
  text-align: center;
  font-family: 'iFont-sf-dregular', sans-serif;
}
.course-link {
  text-decoration: none;
}


/* Footer */
#footer {
  background-color: #000;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
  padding: 10px;
}
.footer-list-list {
  margin-left: 50px;
  font-family: "iFont-sf-dregular", sans-serif;
  font-style: normal;
  font-size: 16px;

}
.footer-list-list a {
  text-decoration: none;
  font-family: "iFont-sf-dregular", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}



@media (max-width: 480px) {

  .course-topic {
    width: 80%;
    margin: 15px 10vw;
  }
  .logo-text {
    display: none;
    margin-left: 50px;
    font-family: "iFont-sf-dregular", sans-serif;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    padding: 10px 0px;
  }
  .logo-icon {
    display: block;
    margin-left: -20px;
    padding: 10px 0px;
    color: white;
    opacity: 0.7;
  }

  .navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -5px;
  }
  .navbar-list-list {
    margin-left: 20px;
    font-family: "iFont-sf-dregular", sans-serif;
    font-style: normal;
    font-size: 14px;
  }


  .footer-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-left: -5px;
  }
  .footer-list-list {
    margin-left: 20px;

  }
  .footer-list-list a {
    text-decoration: none;
    font-family: "iFont-sf-dregular", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
  }
  }