* {
  margin: 0;
  padding: 0;

}

:root {
  --astronomy-background: #0A082C;
  --astronomy-background-img: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=pexels-felixmittermeier-956999.jpg&fm=jpg');
  --math-background-img: url('https://cdn.vectorstock.com/i/500p/00/98/mathematics-seamless-pattern-math-background-vector-44490098.jpg');
  --biology-background-img: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuhH0WZG7gz_hU3mhnRjxaJjNWMc8XGfRqqJ1upCwc_lksV9aX7DxiwA54-VMv2jJEP00&usqp=CAU');
}
@font-face {
  font-family: 'iFont-sf-dmedium';
  src: url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-dregular';
  src: url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-rmedium';
  src: url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Rounded-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-rregular';
  src: url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Rounded-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-tmedium';
  src: url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Text-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iFont-sf-tregular';
  src: url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Text-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
/* body */
body {
  background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=pexels-felixmittermeier-956999.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
  color: #f0f0f0;
}

#navbar {
  /* max-width: 1200px; */
  /* background: #2596be; */
}
#navbar-astronomy {
  /* background-color: var(--astronomy-background); */
}

.navbar-container {
  display: flex;
  justify-content: center;
}
.logo-text {
  margin-left: -250px;
  font-family: "iFont-sf-dregular", sans-serif;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  padding: 10px;
}
.logo-icon {
  display: none;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 50px;
}
.navbar-list-list {
  margin-left: 50px;
  font-family: "iFont-sf-dregular", sans-serif;
  font-style: normal;
  font-size: 16px;
}

.navbar-list-list a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  }
.navbar-list-list a:hover {
  color: #fff;
  opacity: 1;
}



/* header */
#header {
  /* width: 400px; */
  height: auto;
  margin: 20px 0;
  text-align: center;

}
.header-text {
  text-align: center;
  color: #fff;
  opacity: 0.8;
  font-family: 'iFont-sf-dregular', sans-serif;


}
 .header-banner {
  text-align: center;
  width: 600px;
  height: 300px;
  border: 1px;
  border-radius: 15px;
  margin: 5px auto;
  padding: 5px;
  background-image: url('https://t3.ftcdn.net/jpg/03/29/41/98/360_F_329419895_2LKInappp1st56Vvb35lo9bxb2Zppawh.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.banner-astronomy {
  background-image: var(--astronomy-background-img);

}

.math-banner {
  background-image: url(' https://t4.ftcdn.net/jpg/04/73/55/35/360_F_473553549_nXHqvqHEiPGiJxunhMoCv83wMmralBKT.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.biology-banner {
  background-image: url('https://media.istockphoto.com/id/1080629470/video/scientist-testing-in-laboratory-analyte-blue-dna-sequence.jpg?s=640x640&k=20&c=p6ih7gHFtRZLPF8q0B-xkYUyzmXAJUQ_DU-vsHbLtt0=');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.chemistry-banner {
  background-image: url('https://i.pinimg.com/736x/46/f8/ea/46f8eafb5eef12b3f3c3e957ffde5958.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.cs-banner {
  background-image: url('https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?cs=srgb&dl=pexels-harold-vasquez-853421-2653362.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.econ-banner {
  background-image: url('https://blog.alliance.edu.in/wp-content/uploads/2023/03/a-career-in-economics-02-03-2023-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.geography-banner {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/804/365/244/earth-map-dual-monitor-earth-geography-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.history-banner {
  background-image: url('https://thumbs.dreamstime.com/b/old-book-flying-letters-magic-light-background-bookshelf-library-ancient-books-as-symbol-knowledge-history-218640948.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.people-banner {
  width: 700px;
  height: 400px;
  margin: 5px auto;

  /* object-fit: contain; */
}
.people-banner-img {
  width: 700px;
  height: 400px;
  border: 1px solid black;
  border-radius: 20px;
  /* object-fit: contain; */
}

.philosophy-banner {
  background-image: url('https://www.worldhistory.org/img/r/p/750x750/12427.jpg?v=1716213310 ');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.physics-banner {
  background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2018_22/2451826/180601-atomi-mn-1540.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.politics-banner {
  background-image: url('https://aarp.widen.net/content/r7vbqza9fc/jpeg/AI-MisinformationPulledOut-Spella.jpg?crop=true&anchor=0,0&q=80&color=ffffffff&u=ovnylx&w=1140&h=655');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-banner-header {
  color: #fff;
  opacity: 1;
  font-family: 'iFont-sf-dmedium';
  font-size: 20px;
  margin-top: 120px;
}
.header-banner-text {
  color: #fff;
  font-family: 'iFont-sf-dmedium';
  font-size: 20px;
  margin-top: 10px;
}





/* lessons */
.course-header {
  text-align: center;
  color: #fff;
  opacity: 0.8;
  font-family: 'iFont-sf-dregular', sans-serif;
  margin: 5px auto;
}

.container {
  display: flex;
  max-width: 1350px;
  margin: 5px auto;
  flex-wrap: wrap;


}

.course-topic {
  width: 300px;
  height: 270px;
  margin: 35px 15px;
  text-align: center;
  /* border: 1px solid #fff; */
  border-radius: 20px;
  /* background-color: var(--astronomy-background); */
}



.course-img-img {
width: 100%;
height: 100%;
object-fit: cover;
padding: 5px;
border-radius: 20px;
}

.course-link {
  color: #fff;
  opacity: 0.7;
  margin-top: 5px;
  text-decoration: underline;
  color: #fff;
  text-align: center;
  opacity: 0.7;
  font-size: 18px;
  font-family: 'iFont-sf-tmedium', sans-serif;


}
.course-img-img:hover {
  transform: scaleX(1.1) scaleY(1.1);
}


.course-topic-name:hover {
  font-weight: 800;
}

/* Footer */
#footer {
  /* background-color: #2596be; */

}
#footer-astronomy {
  margin-top: 40px;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.footer-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
.footer-list-list {
  margin-left: 50px;

}
.footer-list-list a {
  text-decoration: none;
  font-family: "iFont-sf-dregular", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}


@media (max-width: 480px) {

.course-topic {
  width: 80%;
  margin: 15px 15%;
}
.logo-text {
  display: none;
  margin-left: 50px;
  font-family: "iFont-sf-dregular", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  padding: 10px 0px;
}
.logo-icon {
  display: block;
  margin-left: -20px;
  padding: 10px 0px;
  color: white;
  opacity: 0.7;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: -5px;
}
.navbar-list-list {
  margin-left: 20px;
  font-family: "iFont-sf-dregular", sans-serif;
  font-style: normal;
  font-size: 14px;
}

.footer-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-left: -5px;
}
.footer-list-list {
  margin-left: 20px;

}
.footer-list-list a {
  text-decoration: none;
  font-family: "iFont-sf-dregular", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
}
}