* {
  margin: 0;
  padding: 0;

}

:root {
  /* --astro-bg: url('https://t3.ftcdn.net/jpg/01/05/54/98/360_F_105549841_qGAF80yXJ0pfwV1RsxMCLXaJ8ae2rlRY.jpg'); */
  --default-font:  "EB Garamond", serif;
}


/* body */
body {
  background-image: var(--astro-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


#navbar {
  /* max-width: 1200px; */
  /* background: #2596be; */
}
#navbar-astronomy {
  /* background-color: var(--astronomy-background); */
}

.navbar-container {
  display: flex;
  justify-content: center;
}
.logo-text {
  margin-left: -250px;
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  opacity: 1;
  padding: 10px;
}
.logo-icon {
  display: none;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 50px;
}
.navbar-list-list {
  margin-left: 50px;
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-size: 20px;
}

.navbar-list-list a {
  text-decoration: none;
  color: #000;
  opacity: 1;
  }
.navbar-list-list a:hover {
  color: #000;
  opacity: 1;
}

/* Header */
.banner-container {
  align-items: center;
}

.astro-banner {
  font-family: "EB Garamond", serif;
  color: #000;
  margin: 5px 0px;
  text-align: center;
}
.astro-banner-img {
  width: 700px;
  height: 400px;
  margin: 5px auto;
  object-fit: cover;
  border-radius: 20px;
}
/* main-content */
.main-content-container {
width: auto;
margin: 5px auto;
}



.main-content-header {
  font-family: "EB Garamond", serif;
  opacity: 0.7;
  color: #000;
  margin: 5px auto;
  text-align: center;
}

/* definition */
.def-container {
  margin: 20px auto;
}

.topic-def {
  border-radius: 20px;
  background-image: url('https://cdn.mos.cms.futurecdn.net/v5n22xGyNNHLzSnSArbrVH-1200-80.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.astro-header {
  font-family: var(--default-font);
  margin-top: 10px;
  text-align: center;
  color: #fff;
}
.astro-text {
  font-family: var(--default-font);
  font-size: 24px;
  color: #fff;
  line-height: 1.6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Black shadow with 70% opacity */
  padding: 20px;
}
.astro-topic, .astro-solar-history, .astro-key-terms {
  width: 1200px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px
}
.astro-video {
  border-radius: 20px;
  margin-left: 25vw;
}
.astro-topic-text {
  /* padding: 10px 0px; */
  width: 70vw;
  font-family: var(--default-font);
  font-size: 24px;
  color: #fff;
  line-height: 1.2;
  margin-left: 10vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Black shadow with 70% opacity */
  padding: 20px;
  font-weight: 500;
}
.quiz-text {
  /* padding: 10px 0px; */
  width: 70vw;
  font-family: var(--default-font);
  font-size: 24px;
  color: #000;
  line-height: 1.2;
  margin-left: 10vw;
  padding: 20px;
}
.astro-img {
  width: 400px;
  margin: 5px 0px;
  margin-left: 22vw;
  border: 1px solid;
  border-radius: 20px;
}
.astro-earth-img {
  width: 900px;
  height: 400px;
  object-fit: cover;
  margin: 5px 0px;
  margin-left: 12vw;
  border: 1px solid;
  border-radius: 20px;
}
.astro-input {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 7px 10px;
  font-family: var(--default-font);
  font-size: 20px;
}
.astro-button {
  padding: 7px 20px;
  background-color: rgb(13, 55, 13);
  color: #fff;
  border: 1px solid rgb(13, 55, 13);
  border-radius: 20px;
  font-family: var(--default-font);
  font-size: 20px;
  margin-top: 2vw;
  margin-left: 12vw;

}


.img-def {
  width: 800px;
  height: 400px;
  object-fit: cover;
  margin: 10px 0px;
  margin-left: 7vw;
  border: 1px solid black;
  border-radius: 20px;
}
.def-text {
  font-family: var(--default-font);
  font-size: 22px;
  margin-top: 5px;
  margin-left: 4vw;
}
.astro-term-list {
  margin-left: 5vw;
}
.astro-term-list-list {
  padding: 15px 0px;

}
.astro-term-img {
  width: 200px;
  height: 200px;
  margin-top: 1vw;
  margin-left: 30vw;
  object-fit: cover;
}
.footer-container {
  display: flex;
  justify-content: center;
  margin-left: 7vw;
}

/* Solar System */

.astro-solar-history {
  background-image: url('https://c02.purpledshub.com/uploads/sites/48/2020/08/GettyImages-1148112202-1-53b2096.jpg?webp=1&w=1200');
  background-repeat: no-repeat;
  background-size: cover;
}
.sun-topic {
  background-image: url('https://cdn.mos.cms.futurecdn.net/mzvdREkye2SgLCAqAme7fY-1200-80.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.planets-topic {
  background-image: url('https://science.nasa.gov/wp-content/uploads/2023/06/solar-system-banner-1920x640-1.jpg?w=1920');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dwarf-planets-topic {
  background-image: url('https://pbs.twimg.com/media/F5bCy9tW8AAd8S1.jpg:large');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.moons-topic {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/1200px-FullMoon2010.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.asteroid-topic {
  background-image: url('https://science.nasa.gov/wp-content/uploads/2023/07/Asteroid_Vesta-1.jpeg?w=640');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.comets-topic {
  background-image: url('https://cdn.mos.cms.futurecdn.net/KLXJHZX37JfEjgsppM2qmG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.meteor-topic {
  background-image: url('https://static8.depositphotos.com/1548395/1007/i/450/depositphotos_10076552-stock-photo-asteroid.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kuiper-topic {
  background-image: url('https://c02.purpledshub.com/uploads/sites/48/2020/08/Oort-Cloud-578fa93.jpg?w=1029&webp=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.astro-exploration {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Voyager_spacecraft.jpg/1200px-Voyager_spacecraft.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.astro-funfact {
  background-image: url('https://d.newsweek.com/en/full/2168730/planets-solar-system.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




/* The Sun */
.sun-history, .sun-def, .sun-structure, .sun-energy-topic, .solar-activity-topic, .solar-impact-topic, .sun-observation-topic, .sun-funfact, .planet-def, .planet-history, .planet-structure, .astro-topic {
  background-color: #1C253C;
}
.history-img {
  margin-left: 30vw;
}
