* {
  margin: 0;
  padding: 0;

}

:root {
  /* --astro-bg: url('https://t3.ftcdn.net/jpg/01/05/54/98/360_F_105549841_qGAF80yXJ0pfwV1RsxMCLXaJ8ae2rlRY.jpg'); */
  --default-font:  "EB Garamond", serif;
}


/* body */
body {
  background-image: var(--astro-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


#navbar {
  /* max-width: 1200px; */
  /* background: #2596be; */
}
#navbar-astronomy {
  /* background-color: var(--astronomy-background); */
}

.navbar-container {
  display: flex;
  justify-content: center;
}
.logo-text {
  margin-left: -250px;
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  opacity: 1;
  padding: 10px;
}
.logo-icon {
  display: none;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 50px;
}
.navbar-list-list {
  margin-left: 50px;
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-size: 20px;
}

.navbar-list-list a {
  text-decoration: none;
  color: #000;
  opacity: 1;
  }
.navbar-list-list a:hover {
  color: #000;
  opacity: 1;
}

/* Header */
.banner-container {
  align-items: center;
}

.astro-banner {
  font-family: "EB Garamond", serif;
  color: #000;
  margin: 5px 0px;
  text-align: center;
}
.astro-banner-img {
  width: 700px;
  height: 400px;
  margin: 5px auto;
  object-fit: cover;
  border-radius: 20px;
}
/* main-content */
.main-content-container {
width: auto;
margin: 5px auto;
}



.main-content-header {
  font-family: "EB Garamond", serif;
  opacity: 0.7;
  color: #000;
  margin: 5px auto;
  text-align: center;
}

/* definition */
.def-container {
  margin: 20px auto;
}

.topic-def {
  border-radius: 20px;
  background-image: url('https://cdn.mos.cms.futurecdn.net/v5n22xGyNNHLzSnSArbrVH-1200-80.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.astro-header {
  font-family: var(--default-font);
  margin-top: 10px;
  text-align: center;
}
.astro-text {
  padding: 15px 10px;
  font-family: var(--default-font);
  font-size: 24px;
  color: #fff;
  line-height: 1.6;
  opacity: 0.8;
}
.astro-topic, .astro-solar-history, .astro-key-terms {
  width: 1200px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px
}
.astro-topic-text {
  padding: 10px 0px;
  width: 70vw;
  font-family: var(--default-font);
  font-size: 24px;
  color: #000;
  line-height: 1.2;
  margin-left: 12vw;
  font-weight: 800;
}
.astro-img {
  width: 400px;
  margin: 5px 0px;
  margin-left: 22vw;
  border: 1px solid;
  border-radius: 20px;
}
.astro-input {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 7px 10px;
  font-family: var(--default-font);
  font-size: 20px;
}
.astro-button {
  padding: 7px 20px;
  background-color: rgb(13, 55, 13);
  color: #fff;
  border: 1px solid rgb(13, 55, 13);
  border-radius: 20px;
  font-family: var(--default-font);
  font-size: 20px;
  margin-top: 2vw;
  margin-left: 12vw;

}


.img-def {
  width: 800px;
  height: 400px;
  object-fit: cover;
  margin: 10px 0px;
  margin-left: 7vw;
  border: 1px solid black;
  border-radius: 20px;
}
.def-text {
  font-family: var(--default-font);
  font-size: 22px;
  margin-top: 5px;
  margin-left: 4vw;
}
.astro-term-list {
  margin-left: 5vw;
}
.astro-term-list-list {
  padding: 15px 0px;

}
.astro-term-img {
  width: 200px;
  height: 200px;
  margin-top: 1vw;
  margin-left: 30vw;
  object-fit: cover;
}
